<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{ titulo }}</h2>
    <form action="{% url 'operaciones:resultVolumen' %}" method="post">
        {% csrf_token %}
        Introduza el diámetro en metros:
        <input type="number" step="0.01" name="diametro" ><br>
        Introduza la altura en metros:
        <input type="number" step="0.01" name="altura" ><br>
        <input type="submit" name="submit" value="Calcular">
    </form>
</body>
</html>