<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{ titulo }}</h2>
    <form action="{% url 'encuesta:enviar' %}" method="post">
        {% csrf_token %}
        Nombre:
        <input type="text"name="nombre" maxlength="50"><br>
        Contraseña:
        <input type="password" name="password"><br>
        Education:
        <select name="educacion">
            <option value="sin-estudios">Sin estudios</option>
            <option value="educacion-obligatoria" selected="selected">Educacion Obligatoria</option>
            <option value="formacion-profesional">Formacion Profesional</option>
            <option value="universidad">Universidad</option>
        </select> <br>
        Nacionalidad:
        <input type="radio" name="nacionalidad" value="hispana">Hispana</input>
        <input type="radio" name="nacionalidad" value="otra">Otra</otra><br>
        Idiomas:
        <input type="checkbox" name="idiomas" value="hispana">Hispana</input>
        <input type="checkbox" name="idiomas" value="ingles">Ingles</input>
        <input type="checkbox" name="idiomas" value="frances">Frances</input>
        <input type="checkbox" name="idiomas" value="aleman">Aleman</input><br>
        Email:
        <input type="text" name="email"><br>
        Sitio Web:
        <input type="text" name="sitioweb"><br>
        <!-- Boton de enviar* -->
        <input type="submit" name="submit" value="Enviar">
    </form>
</body>
</html>